<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicago - About Us</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <img src="static/img/logo.png" alt="Logo" style="height: 50px;">
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sources">Sources</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
    <div id="centeredText">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>About Us</h1>
                </div>
            </div>
         </div>
         <br/>
         <br/>
        We are a dedicated team of four passionate individuals who have embarked on an
        exciting journey to bring the story telling of outdoor movie screenings in Chicago's
        parks. Our project began with a comprehensive dataset of movies shown in city
        parks from 2014 to 2019. With this valuable information in hand, we set out to
        transform it into something truly special.
        <br>
        <br>
        Thank you for visiting our website. We hope you find our visualizations both helpful
        and inspiring as you plan your next movie night in the park!
        <br>
        <br>
        Warm regards,
        <br>
        <br>
        <br>
        <br>
        <div class ="row">
            <div class="col-md-3">
                <a href = "www.linkedin.com/in/fatima-lender">
                    <img src="static/img/Fatima.jpg" class="rounded-circle" alt="Team Member 1" width="150" height="150">
                    <h4>Fatima Rodriguez</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/hen-wht/">
                    <img src="https://media.licdn.com/dms/image/C4D03AQHEwyFD7GnZLw/profile-displayphoto-shrink_200_200/0/1656457977997?e=1729123200&v=beta&t=PEMzGrtJUEyHduX89AfToi2-9ttPNq6iu8cDxKSBTQ8" class="rounded-circle" alt="Team Member 2" width="150" height="150">
                    <h4>Henry White</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/samantha-schutz-aa674b164">
                    <img src="static/img/Samantha.jpg" class="rounded-circle" alt="Team Member 3" width="150" height="150">
                    <h4>Samantha Schutz</h4>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.linkedin.com/in/williamgrayrenton">
                    <img src="https://media.licdn.com/dms/image/v2/D4E03AQFgnpPMlG5ulg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1667095624958?e=1729123200&v=beta&t=ZwVg0MAi595eOmqJAgnwJfvmYjs6p2d1O8wh89oFu7Y" class="rounded-circle" alt="Team Member 4" width="150" height="150">
                    <h4>William Gray Renton</h4>
                </a>
            </div>
        </div>
     </div>
    <script>
        // Get the element by id
        const centeredText = document.getElementById('centeredText');
        // Set styles for centering text
        centeredText.style.position = 'absolute';
        centeredText.style.top = '70%';
        centeredText.style.left = '50%';
        centeredText.style.transform = 'translate(-50%, -50%)';
        centeredText.style.margin = '0 auto';
        centeredText.style.textAlign = 'center';
    </script>
</body>
<body>
</body>
</html>
